# Supabase Public API Configuration
SUPABASE_URL=https://yqdtvfsxffhrxfabstsk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxZHR2ZnN4ZmZocnhmYWJzdHNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3NjY1MTgsImV4cCI6MjEwMjM0MjUxOH0.586sYXYAnD5kiy3y9sASvOSOXWkP10jQVAhtjOTFlEI
